body {
	background-color: #242424;
    	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
	text-decoration: none;
}

em {
	font-style: oblique;
}

strong {
	font-style: bold;
}

img {
	width: 100%;
}

h1, h2, h3, h4, h5 {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
}

h3 {
	text-transform: capitalize;
	font-size: 1.875em;
	padding: 0 0 1% 0;
	color: #fff;
	font-weight: 800;
    
}

header {
	background: linear-gradient( rgba(0, 64, 82, 0.75), rgba(15, 108, 134, 0.75)), /* bottom, image */
	url(img/offwhite.jpg);
	background-size:cover;
	background-position: center top;
	width: 100%;
}

.profile {
    padding: 6% 4% 4% 4%;
    margin: auto;
	width: 240px;
	height: 240px;
	overflow: hidden;
    float: left;
    
}

.intro {
	max-width: 960px;
	margin: 0 auto;
	padding: 8% 0;
}

.intro h1 {
	font-size: 4em;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 800;
	line-height: 1.5em;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

.intro h2 {
    font-family: proxima-nova, sans-serif;
	font-size: 2em;
	text-align: center;
	color: #fff;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 0.09em;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	font-family: proxima-nova, sans-serif;
	-webkit-animation-delay: 4s;
	animation-delay: 2s;
}

.about {
	padding: 4% 0;
}

.about p {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.8;
	color: #fff;
	letter-spacing: .03em;
	margin: 10px auto;
	font-size: 1.5em;
	padding: 2% 0;
}

.about p a {
	color: #fff;
	border-bottom: 2px solid;
}

.knowmore {
    background: linear-gradient( rgba(0, 64, 82, 0.75), rgba(15, 108, 134, 0.75)), /* bottom, image */
	url(img/offwhite.jpg);
    text-align: center;
}

.work {
	height: 300px;
	padding: 2% 0;
}

.work h3 {
	padding: 4% 0% 0% 0%;
    margin-top: 4%;
}

.text-box {
	float: left;
	text-align: left;
	width: 480px;
	background-color: #242424;
	height: 100%;
}

.text-box-content {
	padding: 4% 4% 4% 20%;
}

.text-box-content p {
    font-family: calibri, sans-serif;
	color: #fff;
	letter-spacing: .01em;
	font-size: 1em;
    text-align: justify;
}

.image-area {
	width: 480px;
	height: 300px;
	overflow: hidden;
    	padding: 3% 3% 3% 3%;
    	border: 2px dashed  #ffffff;
    	box-shadow: 0 0 0 2px #575757;
}


.copyright {
    color: #fff;
    font-size: 10px;
    margin-top: 0;
}

.copyright2 {
    color: #fff;
    font-size: 9px;
    margin-top: 0;
}

.copyright:hover{
    color:aqua;
}

.copyright2:hover{
    color:aqua;
}

.left {
	float: left;
}

.right {
	float: right;
}

.contact {
	width: 100%;
	background-color: #575757;
	padding: 2px 0;
	margin-top: 5%;
	clear: both;
}

.contact-content {
	max-width: 960px;
	margin: auto;
	text-align: center;
}

.contact-content h4 {
    font-family: trebuchet ms,sans-serif;
	font-size: 1.875em;
	padding: 1% 0;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.05em;
    text-align: center;
}

.contact-content a {
	color: #7ee1f8;
	text-decoration: none;
}

.contact-content a:hover {
    color:#304a50;
}

.image-divider {
	padding: 5% 0;
	background: /* bottom, image */
	url(img/abstract.jpg);
	background-size: cover;
	background-position: center top;
}

footer {
    background-color:#424240;
    color:#fff;
    padding:1% 0;
    width:100%;
    clear:both;
    height:100px;
}

.footer-content {
    max-width:960px;
    padding:1% 0;
    margin: auto;
    font-family: trebuchet ms,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    color: #fff;
    letter-spacing: .03em;
    font-size:1em;
}


.social {
    text-align: center;
}

.social li {
    display:inline-block;
}

.social li a {
    color:#fff;
    padding:0.90em;
    text-transform: uppercase;
    font-size:1.8em;
    font-weight:300;
}

.social li a:hover {
    color:#003847;
}
